@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-raleway: "Raleway", "sans-serif";
  --font-Lato: "Lato", "sans-serif";
}

.color-empty {
  /* fill: #1e293b;  */
  fill: red;
}

.color-filled {
  /* fill: #22c55e;  */
  fill: yellow;
}
